<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
</head>
<body>
  <form method="POST">


      <div class="control">
                    <input class="input is-large" type="text" name="api_key" placeholder="Yout API_KEY" autofocus="">
                </div>



                <div class="control">
                    <input class="input is-large" type="password" name="api_secret" placeholder="Your API_SECRET">
                </div>


                <div class="control">
                    <input class="input is-large" type="text" name="moeda" placeholder="Your Symbol">
                </div>




            <button type="submit">submit</button>

    </form>


        <!--Jquery Cdn -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).on('submit','#todo-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          todo:$("#todo").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });
  </script>

</body>
</html>