<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
  </head>
  <body>
    <h1>Configuração atual:</h1>
    <h3>Simbolo selecionado: {{moeda}}
    Margem de venda RSI > : {{rsi_upper}}
    Margem de compra RSI < : {{rsi_lower}}
      Volume de Trade: {{qtd_trade}}</h3>
    <h2>Fechamento: {{fechamento}}</h2>
    <h2>Valor Fechamento: {{valor}}</h2>
    <h2>Fechamentos: {{closes}}</h2>
    <h2>Ultimo RSI: {{last_rsi}}</h2>
    <h2>API KEY: {{api_chave}}</h2>
    <h2>API PASSWORD: {{api_senha}}</h2>



  <script>
  <!--
  function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
  }

  window.onload = timedRefresh(10000);

  //   -->
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).on('submit','#todo-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          todo:$("#todo").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });
  </script>




  </body>
</html>

